
<!DOCTYPE html>
<html>
<body> 
<main>
        <ul class="d-flex  mt-3 justify-content-center" style="list-style-type:none;">
            <li class="me-4">
                <div class="card" style="width: 18rem; height: 25rem;">
                <img src="~/img/margherita-50kalo.jpg" class="card-img-top" alt="Pizza Margherita">
                <div class="card-body">
                        <h5 class="card-title  ms-lg-3">Margherita</h5>
                        <p class="card-text  ms-lg-3">Pizza classica dal gusto inconfondibile.</p>
                        <h6 class="ms-lg-3">Prezzo:4$</h6>
                </div>
            </div>
        </li>
        <li class="me-4">
                <div class="card" style="width: 18rem; height: 25rem;">
                    <img src="~/img/americana.jpg" class="card-img-top" alt="Americana" style="height: 12rem;">
                <div class="card-body">
                        <h5 class="card-title ms-lg-3">Americana</h5>
                        <p class="card-text ms-lg-3">Pizza che De Sica definirebbe con: 'Che è sta cafonata'.</p>
                        <h6 class="ms-lg-3">Prezzo:6$</h6>
                </div>
            </div>
        </li>
            <li class="me-4">
                <div class="card" style="width: 18rem; height: 25rem;">
                    <img src="~/img/diavola.jpg" class="card-img-top" alt="Diavola" style="height: 12rem;">
                <div class="card-body">
                        <h5 class="card-title ms-lg-3">Diavola</h5>
                        <p class="card-text ms-lg-3">Pizza leggera ma con quel pizzico in più.</p>
                        <h6 class="ms-lg-3">Prezzo:5$</h6>
                </div>
            </div>
        </li>
            <li class="me-4">
                <div class="card" style="width: 19rem; height: 25rem;">
                    <img src="~/img/Capricciosa.jpg" class="card-img-top" alt="Capricciosa" style="height: 12rem;">
                <div class="card-body">
                    <h5 class="card-title ms-lg-3">Capricciosa</h5>
                        <p class="card-text ms-lg-3">Pizza amata dal ristoratore. Gli permette di liberarsi dei condimenti</p>
                        <h6 class="ms-lg-3">Prezzo:6$</h6>
                </div>
            </div>
        </li>
    </ul>
</main>
</body>
</html>